.titel{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.1785;
    letter-spacing: 0.03em;
    color: var(--color-nav-link);
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        font-size: 46px;
        line-height: 1.1666;
    }
}  