.titel{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666;
    letter-spacing: 0.03em;
    color: var(--color-nav-link);
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;;
    }
}