:root{
    --color-black: #000000;
    --color-blue: blue;
    --color-nav-link: #212121;
    --color-light-blue: #2196F3;
    --color-gray: #757575;
    --back-ground: #2F303A;
    --color-white: #FFFFFF;
    --bck-ground: #F5F4FA;
    --color-btn: #188CE8;
    --border: #ECECEC;
    --border-portfolio: #EEEEEE;
    --icon-color: #AFB1B8;
    --raleway: "Raleway";
    --robotos: "Roboto", sans-serif;
    --just-roboto: "Roboto";
}